* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background: linear-gradient(260deg, #D885A3, #FBA1A1);
}


.compvitrina {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: space-between;
    min-height: 90vh;
    padding: 0rem 15% 0rem 15%;
    overflow: hidden;
}

nav {
   min-height: 10vh;
   color: white;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 0.5rem 15%;
}


nav img {
    transform: scale(0.6);
}


.hub {
   text-decoration: none;
   color: white;
   font-size: 1.5rem;
   font-weight: bold;
}


.image-comtainer {
   display: flex;
   align-items: center;
   justify-content: flex-start;
   height: 85vh;
   z-index: 2;
   flex: 1;
}


.image-comtainer img {
    width: 90%;
}


.compvitrina-text {
    flex: 1;
    color: #FEFBF3;
    padding-bottom: 10rem;

}


.compvitrina-title {
    font-size: 3rem;
}


.compvitrina-subtitle {
    font-size: 1.35rem;
    padding: 2.5rem 0rem;
    font-weight: 400;
}


.compvitrina-knopka {
    padding: 0.25em 1.5rem;
    border:none;
    color:black;
    font-weight: 500;
    font-family: 'Segoe UI', sans;
    font-size: 1.10rem;
}


.circle {
   position: absolute;
}

.circle-1 {
   left: -3%;
   bottom: -3%;
   transform: scale(2);
}

.circle-2 {
    left: 35%;
    bottom: 10%;

}

.circle-3 {
    left: 25%;
    top: 15%;
    transform: scale(1.5);
}


.compvitrina-arrow {
    position: absolute;
    right: 15%;
    bottom: 10%;
    transform: scale(0.8);
}

.computer-nav {
    min-height: 10vh;
}


.compkatalog-section {
    background: white;
    min-height: 90vh;
    position: absolute;
    width: 100vw;
    z-index: 5;
}


.compkatalog-podrobnosti {
    padding: 5% 15%;
    color: #4b4b4b;
}


.compkatalog-podrobnosti h1 {
    font-size: 2rem;
}


.compkatalog-podrobnosti p {
    font-size: 1.2rem;
    padding: 1rem 0rem;
}


.comps-gallery {
    display: grid;
    padding: 0% 15%;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 2rem;
}


.comps-gallery .pc-image {
    border-radius: 1rem;
    width: 100%;
}


.cennik {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.card {
    padding: 2rem;
}


@media screen and (max-width: 768px) {
    .compvitrina {
        flex-direction: column;
        padding: 20%;
        justify-content: space-evenly;
        min-height: 85vh;

    }

    .image-comtainer {
        min-height: 30vh;
        justify-content: center;
        order: 1;
    }


    .image-comtainer img {
        height: 100%;
        object-fit: cover;
    }

    .circle-3 {
        top: 90%;
        left: 50%;
        transform: translate(-50% -50%) scale(3);
    }


    .circle-1,
    .circle-2 {
      display: none;

    }


    .compvitrina-title {
        font-size: 1.5rem;
    }

    .compvitrina-subtitle {
        font-size: 1rem;
        padding: 2rem 0rem;
    }

    .compvitrina-text {
        flex: 3;
    }

    .compvitrina-arrow {
        right: 0;
        bottom: 50%;

    }
}
